/**==================RESET CSS===================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/**======================USER CSS========================*/

@import url(https://fonts.googleapis.com/css?family=PT+Mono:regular);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

input {
  font-size: 30px;
  font-family: PT Mono;
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: 0px 0px 2px rgb(141, 143, 146);
  border-radius: 10px;
}

input:focus {
  box-shadow: 0px 0px 5px rgb(141, 143, 146);
}

.wrapper {
  display: flex;
  flex-direction: row;
}
@media (max-width: 479px){
  .wrapper{
    flex-direction: column;
  }
}

.btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0px 10px 0px 10px;
  width: 100px;
}
@media (max-width: 479px) {
  .btn {
    margin: 10px 0px 10px 0px;
  }
}
button {
  width: 45px;
  height: 45px;
  font-size: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(252, 255, 82);
}

button:hover {
  background-color: rgb(252, 255, 82);
}

button:focus {
  background-color: rgb(252, 255, 82)
}

button:nth-child(2) {
  padding: 0px 0px 5px 0px;
}

button:nth-child(4) {
  padding: 10px 0px 0px 0px;
}

.btn-end {
  background-color: rgb(252, 255, 82)
}

.end {
  display: flex;
  margin: 0px 0px 0px 10px;
  align-items: center;
}
@media (max-width: 479px) {
  .end {
    justify-content: center;
    margin: 10px 0px 0px 0px;
  }
}
.result {
  display: flex;
  align-items: center;
  max-width: 100px;
}

.result p {
  font-size: 30px;
  margin: 0px 0px 0px 20px;
}
@media (max-width: 479px) {
  .result p {
    margin: 0px 0px 0px 0px;
  }
  .result{
    margin: 10px 0px 0px 0px;
    justify-content: center;
  }
}